/* Define estilos básicos para o container e o formulário de login */
.login-container {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px #000000;
    text-align: center;
}

/* Estiliza os inputs e o botão */
.login-form input {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.login-form button {
    padding: 10px;
    width: 100%;
    background-color: var(--bs-blue);
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Estilo adicional para interação com o botão */
.login-form button:hover {
    background-color: var(--bs-indigo);
}
