* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, hsla(0, 0%, 100%, .15), hsla(0, 0%, 100%, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff
 }

body {
    padding: 0 auto;
}

#component-layout-header {
    background-color: #0c214c;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
    height: 70px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100
}

#component-layout-header h1 {
    margin: 0
}

@media (max-width:992px) {
    #component-layout-header {
        height: 56px
    }

    #component-layout-header .logo svg {
        width: 110px
    }
}

/* Estilo para fixar o nav no topo */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: #f8f9fa; Cor de fundo do nav */
    padding: 10px;
    /* Espaçamento interno */
    z-index: 1000;
    /* Z-index para sobrepor outros elementos se necessário */
}

h1 {
    padding-top: 1px;
    text-align: center;
}

a {
    display: inline-block;
    margin: 0 1px;
    color: #000000;
    font-size: 15px;
    text-decoration: none;
    font-weight: 700;
}

b {
    color: orangered;
}

.logo {
    width: 150px;
    padding-inline-start: 0 15px;
}

/* Estilos para o conteúdo da música */
.musica-container {
    background-color: #f8f8fa;
    padding: 2px;
    border-radius: 10px;
}

.titulo-musica {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.conteudo-musica {
    white-space: pre;
    /* Para preservar quebras de linha */
    font-size: 16px;
    padding: 0 auto;
}